run = "npm run dev"
hidden = [".build", ".config"]
modules = ["nodejs-20", "bash", "nix"]

[nix]
channel = "stable-24_05"

[env]
CHROME_BIN = "/usr/bin/google-chrome"

[packager]
language = "nodejs"

[packager.features]
enabledForHosting = false
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "gce"
